body, html{
    background: #e2c6e5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
ul{display: flex;
   list-style: none;
   gap: 10px;
}

#destaque{
    
    text-align: center;
    color: whitesmoke;
    height: 100px;
}

.item{
    width: 20%;
    float: left;
    text-align: center;
    padding: 2%;
    
}

#produtos{
    text-align: justify;
    clear: both;
}

#menu {
    text-align: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    
  }
  
  #menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    font-size: 20px;  
    
  }
  
  #menu ul li {
    display: inline;
  }
  
  #menu ul li a {
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    font-size: 19px;
    border-radius: 30px;
    transition: 0.6s;
  }
  
  #menu ul li a:hover {
    cursor: pointer;
    background-color: #FFFACD;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


footer{
    clear: both;
    text-align: center;
    
}